.todo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4em;
  font-family:Georgia, 'Times New Roman', Times, serif
}

input {
  width: 200px;
  height: 20px;
  border: solid;
  border-radius: 5px;
}

.todo-add-btn{
  height: 25px;
  background-color:hsla(201, 100%, 50%, 0.7);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

ol {
  display:flex;
  flex-direction: column;
}

li {
  margin-top: 5px;
}

.task{
  font-size: 1.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

.todo-delete-btn{
  cursor: pointer;
  background-color: hsl(13, 85%, 45%);
  height: 25px;
  border-radius: 6px;
  color: white;
  border: none;
  margin: auto 5px;

}

.todo-up-btn,
.todo-down-btn{
  cursor: pointer;
  height: 25px;
  border-radius: 6px;
  border: none;
  margin: auto 2px;
}

.todo-up-btn:hover, .todo-down-btn:hover{
  border: solid;
}

.todo-delete-btn:hover{
  background-color: hsl(13, 85%, 45%, 70%);
}
